@import "tailwindcss";

:root {
	--primary: #1f8f73;
	--primary-600: #187a62;
	--accent: #f5a65b;
	--neutral-50: #fafaf8;
	--neutral-800: #2e2e2e;
	--danger: #d64545;
	--success: #2fa88a;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--neutral-50);
	color: var(--neutral-800);
	font-size: 18px;
}

button,
a,
input,
select {
	-webkit-tap-highlight-color: transparent;
}
